<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script type="module" src="/click.js"></script>
  <title>clicker</title>
</head>

<body>
<header>
  <div class="title">
      Clicker
    </div>
  </header>
  <main id="clicker">
    <div class="left-body">
      <div>
        <div class="click-times">
          <p>合計クリック回数：{{ Math.floor(resultCounter) }}回</p>
          <div class="state">
            <h6>自動クリック回数：{{ Math.floor(secondCounter * 10) / 10 }}回/s</h6>
            <h6>１クリックあたり：{{ oneClick }}回</h6>
          </div>
        </div>
        <button class="clicker" @click="activeClick">
          ここをクリック
        </button>
      </div>
    </div>
    <div class="right-body">
      <div class="right-header">
        <button @click="clear" style="cursor: pointer;">リセットする</button>
        <button @click="clickCounter += 10000" style="font-size: 80%; cursor: pointer;">デバッグ用<br>(クリック:+10000)</button>
        <button @click="boost" style="cursor: pointer;">ブーストする</button>
      </div>
      <div class="right-content">
        <upgrades name="アップグレード１" :click=clickUpgrade001 :level=levelUpgrade001 :need=needClickUpgrade001></upgrades>
        <upgrades name="アップグレード２" :click=clickUpgrade002 :level=levelUpgrade002 :need=needClickUpgrade002></upgrades>
        <upgrades name="アップグレード３" :click=clickUpgrade003 :level=levelUpgrade003 :need=needClickUpgrade003></upgrades>
        <upgrades name="アップグレード４" :click=clickUpgrade004 :level=levelUpgrade004 :need=needClickUpgrade004></upgrades>
      </div>
    </div>
  </main>
</body>

</html>